@import 'colors';
div.panel {
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  width: 328px;
  border-radius: 8px;
  background-color: $orange;
  color: $black-1;

  &.active-chain-element {
    border: 3px solid $blue;
  }
  align-items: center;
  justify-content: center;
}
