<div class="screen-wrapper">
  <div class="content" (resized)="contentResized($event)">
    <div
      class="facility-row"
      cdkDropList
      *ngFor="let supplyChain of supplyChains; let chainIndex = index"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="facility-step">
        <app-facility-panel [chainData]="supplyChain"> </app-facility-panel>
      </div>

      <div class="product-chains-container">
        <div *ngFor="let product of supplyChain.products; let productIndex = index" class="product-chain">
          <div class="chain-step" *ngFor="let child of product.children; let childIndex = index">
            <app-supplier-panel
              *ngFor="let sibling of child; let siblingIndex = index"
              [chainData]="supplyChain"
              [productData]="product"
              [indexes]="{ chainIndex, productIndex, childIndex, siblingIndex}"
            ></app-supplier-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
  <canvas #connectorLayer class="connector-layer"></canvas>
</div>
