<div class="screen-wrapper">
  <div *ngIf="supplyChains" class="content" (resized)="contentResized($event)">
    <div
      class="facility-row"
      cdkDropList
      *ngFor="let supplyChain of supplyChains; let chainIndex = index"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="facility-step">
        <app-facility-panel [chainData]="supplyChain" [chainIndex]="chainIndex"> </app-facility-panel>
      </div>

      <div class="product-chains-container">
        <div class="product-chain" *ngFor="let product of supplyChain.products; let productIndex = index">
          <div class="chain-step" *ngFor="let child of product.children; let childIndex = index">
            <app-supplier-panel
              cdkDrag
              *ngFor="let sibling of child; let siblingIndex = index"
              [facility]="supplyChain.facility.id"
              [product]="product.id"
              [child]="product.children[childIndex + 1]"
              [supplier]="usedSuppliers.get(product.children[childIndex][siblingIndex].supplier)"
              [indexes]="{ chainIndex, productIndex, childIndex, siblingIndex}"
            ></app-supplier-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
  <canvas #connectorLayer class="connector-layer"></canvas>
</div>
